input[type=checkbox] {
    display: none;
}

.projects,
.about {
    position: absolute;
    top: 2%;
    margin: 0 1%;
    font-size: 1.3em;
    color: white;
    line-height: 3em;
    cursor: pointer;
    display: block;
    transition: all .5s;
}

.projects {
    float: left;
}

.about {
    right: 0%;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    left: -100%;
    direction: rtl;
}

.about-me {
    left: 100%;
    display: flex;
    padding: 8%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-me>p:nth-child(1) {
    font-size: 2.2em;
    font-weight: bold;
}

.about-me>p:nth-child(2) {
    font-size: 1.4em;
}

.about-me>p:nth-child(3) {
    font-size: 1em;
}

.projects-list,
.about-me {
    position: fixed;
    width: 60%;
    height: 80vh;
    background: whitesmoke;
    top: 4%;
    text-align: center;
    transition: all .5s;
    border-radius: 2%;
    z-index: 10;
}

.projects-list>div {
    background: whitesmoke;
    width: 70%;
    margin: 3%;
    font-size: 1.5em;
    color: gray;
}

.projects-list>div img {
    width: 100%;
    height: auto;
    border: 2px solid lightgray;
    box-shadow: 5px 5px 5px gray, 0px 2px 2px gray;
}

.projects-list>div:hover {
    opacity: 0.8;
    width: 75%;
    font-size: 1.7em;
}

.projects-list a {
    text-decoration: none;
    color: gray;
}

#check-project:checked~.projects-list {
    left: 0%;
}

#check-project:checked~.projects {
    margin-left: 62%;
}

#check-about:checked~.about-me {
    left: 40%;
}

#check-about:checked~.about {
    margin-right: 62%;
}


/* Skills and contact */

.skill,
.contact {
    position: absolute;
    bottom: 1%;
    margin: 0 1%;
    font-size: 1.3em;
    color: white;
    line-height: 3em;
    cursor: pointer;
    display: block;
    transition: all .5s;
}

.contact {
    right: 0%;
}

.my-skill,
.contact-me {
    position: fixed;
    width: 60%;
    height: 80vh;
    background: whitesmoke;
    bottom: 4%;
    text-align: center;
    transition: all .5s;
    border-radius: 2%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
}

.my-skill {
    left: -100%;
    padding: 4%;
}

.contact-me {
    left: 100%;
    padding: 8%;
    justify-content: center;
}

.my-skill li {
    background-color: whitesmoke;
    margin: 2%;
    width: 28%;
    text-align: left;
    font-size: 1.2em;
}

.my-skill li ul li {
    font-size: 0.8em;
    width: 100%;
}

.my-skill i {
    font-size: 0.8em;
    color: rgb(59, 59, 59);
}

#check-skill:checked~.skill {
    margin-left: 62%;
}

#check-skill:checked~.my-skill {
    left: 0%;
}

#check-contact:checked~.contact-me {
    left: 40%;
}

#check-contact:checked~.contact {
    margin-right: 62%;
}

.contact-me span {
    background-color: whitesmoke;
    font-size: 2em;
}

form {
    background-color: whitesmoke;
    margin: 4%;
}

input[type=text] {
    padding: 2%;
}

input[type=button] {
    padding: 2%;
    margin: 2%;
    width: 15%;
    height: auto;
}

input[type=text]:focus,
input[type=button]:hover {
    box-shadow: 2px 2px 2px gray, 0px 1px 1px gray;
    outline: none;
}

#name {
    width: 25%;
    margin: 2% 0%;
}

#email {
    width: 40%;
    margin: 2% 0%;
}

#msg {
    width: 65%;
}

.contact-me p {
    background-color: whitesmoke;
    font-size: 1.2em;
    width: 100%;
}

.contact-me i {
    background-color: whitesmoke;
    color: black;
    font-size: 2em;
    margin: 0.2em;
}

.contact-me i:hover {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px gray;
}

.projects:hover,
.skill:hover,
.contact:hover,
.about:hover {
    text-shadow: 2px 2px 5px white;
    color: lightgray;
    font-size: 1.8em;
}

@media only screen and (max-width: 550px) {
    .about-me>p:nth-child(1) {
        font-size: 2em;
        font-weight: bold;
    }
    .about-me>p:nth-child(2) {
        font-size: 1.2em;
    }
    .about-me>p:nth-child(3) {
        font-size: 1em;
    }
    .contact-me {
        padding: 12%;
    }
    #name,
    #email,
    #msg,
    #sendbtn {
        width: 80%;
        margin: 3% 0%;
    }
    .my-skill {
        padding-left: 10%;
        padding-top: 8%;
    }
}

@media only screen and (max-width: 450px) {
    .about-me>p:nth-child(1) {
        font-size: 1.5em;
        font-weight: bold;
    }
    .about-me>p:nth-child(2) {
        font-size: 1em;
    }
    .about-me>p:nth-child(3) {
        font-size: 0.8em;
    }
    .my-skill li {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1300px) {
    .my-skill li {
        width: 80%;
    }
}